body{
    background-image: url(../img/fondo_ssh.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    /*background-attachment: fixed;*/
    /*background-size: 100% 100%;*/
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: crimson;
    font-size: 40px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
    font-size: 35px;
}
main{
    text-align: center;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white
}
p{
    color: whitesmoke;
    font-size: 20px;
}
img{
    width: 500px;
    border: whitesmoke 8px double;
}